*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar{
    height:150px;
    width: 1473px;
    background-color:#00175f;
    
}

.nav-div{
    height: 100px;
    /* background-color:rgb(101, 164, 164); */
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    color: #ffffff;
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #333; */
  position: fixed;
  top: 0;
  width: 100%;
    /* overflow: hidden; */

}

.wave{
    height: 100px;
    width: 70px;
    background-image: url("wave-removebg-preview.png");
    background-size: cover;
    /* background-color: aqua; */
}

.bar{
    height: 50px;
    width: 50px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}
.nav-logo{
    height: 100px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.logo{
    height:100% ;
    width: 100%;
    background-image: url("CricVerse_transparent.png");
    background-size: cover;
}

.home{
    height: 40px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icc_men{
    height: 40px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icc_women{
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.match{
    height: 40px;
    width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop{
    height: 40px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.gallery{
    height: 40px;
    width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.events{
    height: 40px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news{
    height: 40px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border{
    border:2px solid transparent;
}

.border:hover{
    border:1px solid white;
    color: #000;
    font-weight: 500;

}

a{
    text-decoration: none;
    color:white;
}









/* content */

.main-content{
    height: auto;
    background-color: #00175f;
    margin-top: 100px;
}

.head{
    color:white;
    font-size: 2.5rem;
    font-weight: 700;
    margin-left: 50px;
}

.player-div{
    margin-top: 50px;
   height: 700px;
   width: auto;
   background-size: cover;
    
}

.squad{
    margin-top: 20px;
    padding: 40px;
    color: black;
    
}


.content{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

table ,th ,td{
    border:1px solid black;
}
td,th{
    color:black;
    text-align: center;
    padding: 15px;
    font-weight: 800;
    font-size: 1rem;
}
th{
    background-color: rgb(14, 14, 72);
    color:white;
    text-align: center;
    padding: 15px;
    font-weight: 800;
    font-size: 1rem;
}

p{
    color: black;
}

table{
    width: 80%;
    border-collapse: collapse;
    background-color:rgb(95, 95, 141);
}
/* .player-box{
    width: 300px;
    height: 520px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-size: cover;
    
    
    
} */


/* footer */

.footer{
    height: 750px;
    margin-top: 50px;
    background-color:rgb(0, 35, 122);
}


.part1{
    height: 100px;
    background-color:rgb(0, 35, 122);
}
.part2{
    /* margin-top: 1000px; */
    height: 390px;
    /* background-color:palevioletred; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.foot-div{
    height: 84px;
    width: 565px;
    /* background-color:palegreen; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}



.partner{
    height: 48px;
    width: 144px;
    background-size: cover;
}

p{
    margin-top: 3px;
    color:white;
    font-weight: 700;
}
.horizontal-line{
    height: 0.8px;
    width: 560px;
    background-color: rgb(240, 234, 234);
    margin-top: 30px;
}

.part3{
    height: 50px;
    margin-top: 50px;
    /* background-color: burlywood; */
    display: flex;
    justify-content: center;

}

.icon{
    height: 50px;
    width: 50px;
    /* background-color: aquamarine; */
}

.part4{
    display: flex;
    justify-content:center;
    align-items: center;
    
}

.msg{
    margin-right: 30px;
    font-weight: 600;
}

.horizontal-line1{
    height: 0.8px;
    width: 1430px;
    background-color: rgba(255, 255, 255, 0.838);
    margin-top: 30px;
    margin-left: 20px;
}

.part5{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color:#dbe0e4;
}