*{
    padding: 0;
    margin: 0;
}



.navbar{
    height:760px;
    width: 1473px;
}
.nav-image{
    background-image: url("img/hero1.jpg");
    background-size: cover;
    height:750px;
    width: 100%;
}

.nav-div{
    height: 100px;
    /* background-color:red; */
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    /* position: fixed;
    top: 0px; */


}


.bar{
    height: 50px;
    width: 50px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}

.bar-p{
    color:black;
}
.nav-logo{
    height: 100px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.logo{
    height:100% ;
    width: 100%;
    background-image: url("img/CricVerse_transparent.png");
    background-size: cover;
}

.home{
    height: 40px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team{
    height: 40px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.results{
    height: 40px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.match{
    height: 40px;
    width: 85px;
    display: flex;
    justify-content: center;
    /* margin-right: -180px; */
    align-items: center;
}

.shop{
    height: 40px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.gallery{
    height: 40px;
    width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.events{
    height: 40px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news{
    height: 40px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* CONTENT */



.matches{
    margin-top: 50px;
    height: 600px;
    background-color:hsl(223 100% 24%);
    display: flex;
    justify-content: space-evenly;
    scroll-padding-left: 0; 
    

}

.logo_icc
{
    margin-top: 50px;
    height: 200px;
    display: flex;
    background-color:rgb(0, 35, 122);
    color: white;
    align-items: center;
    
}

.logo_t20
{
    height: 100px;
    width: 100px;
    background-image: url("img/logo_t20.png");
    background-size: cover;
}
.box {
    border:2px solid white;
    height: 500px;
    width: 23%;
    background-color:rgb(255, 255, 255);
    padding:20px 0px 15px;
    margin-top: 15px;
    background-size: cover;
}

.box_border{
    border:1px solid rgb(206, 65, 143);
}
/* rgb(206, 65, 143); */

.see{
    display: block;
    display: flex;
    align-items: center;
    
}

.nav-div a{
    text-decoration: none;
    color:rgb(212, 212, 212);
    font-weight: 700;
}

a:hover{
    background-color:rgb(0, 0, 0);
}
.cric{
    margin-top: 30px;
    height: 700px;
    /* background-color: aquamarine; */
}

.cric-img{
    height: 650px;
    background-size: cover;
    color:black;
    font-weight: 800;
    font-size: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
}
/* footer */

.footer{
    height: 750px;
    margin-top: 50px;
    background-color:rgb(0, 35, 122);
    
}


.part1{
    height: 100px;
    background-color:rgb(0, 35, 122);
}
.part2{
    /* margin-top: 1000px; */
    height: 390px;
    /* background-color:palevioletred; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.foot-div{
    height: 84px;
    width: 565px;
    /* background-color:palegreen; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}



.partner{
    height: 48px;
    width: 144px;
    background-size: cover;
}

p{
    margin-top: 3px;
    color:white;
    font-weight: 700;
}
.horizontal-line{
    height: 0.8px;
    width: 560px;
    background-color: rgb(240, 234, 234);
    margin-top: 30px;
}

.part3{
    height: 50px;
    margin-top: 50px;
    /* background-color: burlywood; */
    display: flex;
    justify-content: center;

}

.icon{
    height: 50px;
    width: 50px;
    /* background-color: aquamarine; */
}

.part4{
    display: flex;
    justify-content:center;
    align-items: center;
    
}

.msg{
    margin-right: 30px;
    font-weight: 600;
}

.horizontal-line1{
    height: 0.8px;
    width: 1430px;
    background-color: rgba(255, 255, 255, 0.838);
    margin-top: 30px;
    margin-left: 20px;
}

.part5{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color:#dbe0e4;
}